.fixed-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5rem;
  background: transparent; /* Remove background */
}

.input-container {
  position: relative; /* To position the button inside the container */
  display: flex;
  align-items: center;
}

.search-input {
  border: 1px solid #ccc;
  padding: 10px 16px; /* Adjust padding for a smaller size */
  border-radius: 4px; /* Rounded corners on all sides */
  font-size: 0.875rem; /* Font size for input */
  width: 100%; /* Full width of the container */
  padding-right: 80px; /* Space for the button */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.animated-gradient-border-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 130px; /* Adjust width as needed */
  padding: 10px; /* Adjust padding to match the input field size */
  font-size: 13px; /* Font size for button */
  font-weight: bold;
  color: white;
  border: 2px solid transparent; /* Border thickness */
  border-radius: 0 4px 4px 0; /* Rounded only on the right side */
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
  background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc, #ffcc00);
  background-size: 300%;
  animation: animated-gradient 5s linear infinite;
}

.animated-gradient-border-btn:hover {
  background-size: 400%;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.text-gradient {
  background: linear-gradient(90deg, #00d4ff, #007bff, #91ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.05em;
  position: relative;
}

.text-gradient::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #007bff;
  border-radius: 2px;
  opacity: 0;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.hidden {
  display: none;
}
