<div class="container mx-auto px-4 py-8">
  <!-- Navbar -->
  <nav class="bg-gray-800 text-white p-4 fixed top-0 left-0 w-full z-50 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-xl font-bold">AutoCoder.ai</a>
      <div class="space-x-4">
        <!-- <a href="#home" class="hover:">Home</a> -->
        <!-- <button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-6 py-2.5 text-center me-1 mb-2 mt-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Logout</button> -->
     
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="pt-20" > <!-- Add padding to avoid content being hidden under the navbar -->
    
    <h1
    class="text-3xl sm:text-4xl font-bold text-black-600 mb-8 text-center"
    style="display: flex; justify-content: center; align-items: center; height: 50vh; margin: 0; color: #1F2937;" *ngIf="askmeanything">
    Ask Me Anything...
</h1>




    <div *ngIf="!isLoading && generatedContent" class="bg-black shadow-xl rounded-lg p-4 sm:p-8 mx-2 sm:mx-4 lg:mx-16">
      <!-- Sticky Copy Bar -->
      <div class=" top-0 left-0 w-full bg-gray-800 text-white flex justify-between items-center p-4 shadow-lg z-50">
        <span class="text-lg font-semibold">Generated Code</span>
        <button (click)="copyToClipboard()" class="bg-blue-600 text-white py-1 px-3 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200">
          <span *ngIf="!copied" class="text-danger">Copy</span>
          <span *ngIf="copied" class="text-danger">Copied!</span>
        </button>
      </div>
      <pre id="codeBlock" class="p-4 sm:p-6 rounded-lg overflow-x-auto bg-black text-green-400">{{ generatedContent }}</pre>
    </div>

    <iframe [src]="iframeSrc" *ngIf="iframeSrc && !isLoading" class="w-full sm:w-[1060px] h-[300px] sm:h-[500px] shadow-xl rounded-lg p-4 sm:p-8 mx-2 sm:mx-4 lg:mx-16"></iframe>
  </div>

  <!-- Fixed Form at Bottom -->
  <form (ngSubmit)="generateCode()" class="fixed-form">
    <div class="input-container">
      <input type="text" [(ngModel)]="prompt" name="prompt" required
        class="search-input"
        placeholder="Ask me anything..."/>
      <button type="submit" class="animated-gradient-border-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Generate Code</span>
        <span *ngIf="isLoading" class="text-danger">loading...</span>
      </button>
    </div>
  </form>

  <div *ngIf="isLoading" class="flex justify-center items-center h-[300px] sm:h-[500px] mt-[-50px] sm:mt-[-100px]">
    <div class="spinner-border animate-spin inline-block w-12 sm:w-16 h-12 sm:h-16 border-4 rounded-full border-blue-600 border-t-transparent"></div>
  </div>
</div>
